html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/static/styles/reset.css")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800', rel='stylesheet', type='text/css')
        script(src="https://use.fonticons.com/92e409c4.js")
        script(type="application/javascript").
            window.__INITIAL_STATE__ = !{initialState};
        | !{head && head.title.toString()}
        | !{head && head.link.toString()}
        | !{head && head.meta.toString()}
    body
        #app !{renderedComponent}
        script(src="/static/client.js", type="text/javascript")
